/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column_2 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  @media screen and (max-width: 500px) {
    .column_2 {
        width: 100%;
      }
  }
  
  /* Clear floats after image containers */
  .row_2::after {
    content: "";
    clear: both;
    display: table;
  }

  #img {
      max-width: 100%
  }